@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .leading-trim {
        @apply font-sans text-base align-middle;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

:root {
    font-family: "Roboto", sans-serif !important;
}